<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lxy.spring_boot_hello_01.mapper.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.lxy.spring_boot_hello_01.entity.UserInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_age" property="userAge" jdbcType="INTEGER" />
    <result column="user_birthday" property="userBirthday" jdbcType="DATE" />
    <result column="user_sex" property="userSex" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, user_age, user_birthday, user_sex, create_time, update_time
  </sql>
  
  
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.lxy.spring_boot_hello_01.entity.UserInfo" >
    select 
    <include refid="Base_Column_List" />
    from user_info
  </select>
  
  <insert id="saveUserInfo" parameterType="com.lxy.spring_boot_hello_01.entity.UserInfo" >
    insert into user_info(user_name, user_age, user_birthday, user_sex, create_time, update_time)
    values(#{userName},#{userAge}, #{userBirthday}, #{userSex}, #{createTime}, #{updateTime})
  </insert>
  
  <update id="updateUserInfo" parameterType="com.lxy.spring_boot_hello_01.entity.UserInfo" >
  	update user_info 
  	set
  	user_name = #{userName}, 
	user_age = #{userAge}, 
	user_birthday = #{userBirthday}, 
	user_sex = #{userSex}, 
	update_Time = #{updateTime} 
	where id = #{id}
  </update>
  
  
</mapper>